<!DOCTYPE html>
<html>
  <head>
    <title>My EJS Page</title>
  </head>
  <body>
    <h1>Welcome to My EJS Page</h1>
    <p>Today is <%= today %>, it's time to <%= activity %>.</p>
  </body>
  <script src="code.js"></script>
</html>
